---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Oct 2023 - Actualmente...",
    title: "Desarrollador Fullstack Freelance",
    company: "Corporate compass",
    description:
    ` 
      Desarrollo de una plataforma web para Corporate Compass, centrada en 
      la publicación de artículos y contenido de blog. Utilicé Nest.js, Next.js 
      y MongoDB para crear una estructura robusta que permite la gestión eficiente 
      de publicaciones en áreas como derecho corporativo y administración de empresas.
      Implementé un sistema de optimización SEO para mejorar la visibilidad de los 
      artículos y facilitar el acceso a recursos descargables.
    `,
  },
  {
    date: "Nov 2023 - Oct 2024",
    title: "Ingeniero DevOps",
    company:"Tiresia Soluciones Tecnológicas S.A.S",
    description:
    `
      Responsable de administración servicios cloud (Oracle OCI, DigitalOcean), automatización de procesos 
      e implementación de modelos de operaciones para pruebas automáticas con 
      CI/CD optimizando el flujo de trabajo. Innovación y Mejora Continua, 
      búsqueda constante de mejoras operativas y eficiencia en los procesos. 
      Ejecución de despliegues productivos para nuevos proyectos, asegurando 
      la calidad y el rendimiento.
    `,
    link: "https://tiresia.com.co/",
  },
  {
    date: "Ago 2023 - Dic 2023",
    title: "Desarrollador Fullstack Freelance",
    company: "Unidax",
    description:
    ` Desarrollador fullstack para Unidax, donde implementé un sistema para el
      procesamiento de resultados en pruebas de suelo, agua y sistema foliar 
      utilizando Flutter y Firebase, aplicando la metodología Scrum para gestionar 
      el desarrollo de manera ágil y eficiente.
    `,
  },
  {
    date: "Feb 2022 - Oct 2023",
    title: "Administrador de plataformas AWS y Azure",
    company:"Global EDB",
    description:
    `
      Encargado de la gestión de servicios y recursos en AWS y Azure, 
      creando y administrando aplicaciones en la nube y manejando bases
      de datos relacionales y no relacionales (Azure Portal, AWS Management Console, DynamoDB, Postgres, SQL Server).
    `,
    // link: "Link (si es que lleva)",
  },
  
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
