---
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/portfolio/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/portfolio/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/portfolio/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "https://mail.google.com/mail/?view=cm&fs=1&to=agnerfabrega@gmail.com&su=💼%20Oportunidad%20profesional%20-%20Contacto%20desde%20tu%20portfolio&body=Hola%20Agner,%0A%0AHe%20revisado%20tu%20portfolio%20y%20me%20ha%20impresionado%20tu%20trabajo.%20Me%20gustaría%20contactarte%20para%20discutir:%0A%0A•%20Una%20oportunidad%20laboral%0A•%20Un%20proyecto%20colaborativo%0A•%20Una%20consulta%20técnica%0A•%20Otro:%20____%0A%0APor%20favor,%20cuéntame%20un%20poco%20sobre%20tu%20disponibilidad%20y%20tarifas.%0A%0A¡Espero%20tu%20respuesta!%0A%0ASaludos,%0A[Tu%20nombre]",
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-blue-500")
            } else {
              item.classList.remove("text-blue-500")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  nav {
    @apply dark:bg-gray-800/90 bg-white/50;
  }

  @keyframes nav-shadown {
    0% {
      @apply dark:bg-gray-800/0 bg-white/0;
    }
    to {
      @apply shadow-lg ring-1 backdrop-blur ring-white/10;
    }
  }
</style>
